<div class="paged-replay-list-main">
	<FilterPanel FilterChanged="@OnFilterChanged" />
	<div class="list">
		<ReplayList Replays="@replays"
					IsFitToPage="@isFitToPage"
					OnFitPageNumberChanged="@HandleFitPageNumberChange"
					ReloadOnItemChanged="@ReloadOnItemChanged"
					OnReplayItemChanged="@ReplayItemChanged" />

		<DebouncedPaginator Length="@length"
							PageIndex="@pageIndex"
							PageSizeText="@pageSizeText"
							PageSizeOptions="@pageSizeOptions"
							OnPage="@Page" />
	</div>
</div>
