<div>
	<MudListItem Class="main">
		<div class="player-name">
			<MudText Typo="Typo.body2">@ReplayInfo.PlayerName</MudText>
		</div>
		<div class="column">
			<MudText Typo="Typo.body2">@ReplayInfo.MapDisplayName</MudText>
			<MudText Typo="Typo.body2">@ReplayInfo.PlayerVehicle</MudText>
		</div>
		<div class="column">
			<MudText Typo="Typo.body2">@ReplayInfo.DateTime.ToString()</MudText>
			<MudText Typo="Typo.body2">Server @ReplayInfo.RegionCode</MudText>
			<MudText Typo="Typo.body2">Version @ReplayInfo.ClientVersionFromXml</MudText>
		</div>
		<div class="column">
			<MudToggleIconButton Toggled="@ReplayInfo.IsFavorite"
						   ToggledChanged="@OnToggleFavorite"
						   Icon="@Icons.Material.Filled.Star"
						   ToggledIcon="@Icons.Material.Outlined.Star" />
		</div>
	</MudListItem>
</div>
